 .user{
    display: flex;
    background: #f4f5f7;
    padding: 10px;
    margin-bottom: 10px;
}

   
.user ul {
    list-style: none;
}

.dataButton {
    width: 250px;
    font-size: 17px;
    font-weight: bold;
}

.dataButton:hover {
    color: red;
    cursor: pointer; 
}    