 * {
     text-align: center;
 }
 
 .user{
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.user ul {
    list-style: none;
}

.dataButton {
    width: 300px;
    font-size: 17px;
    font-weight: bold;
}

.dataButton:hover {
    color: red;
    cursor: pointer; 
}    

.dataDisplay {
    width: 300px;
    padding-left: 500px;
}

.dataOutput {
    list-style: none;
}